<div class="off-canvas-active" [class.active]="menuVisible">
  <a class="off-canvas-close" href="javascript:void(0)" (click)="closeMenu()"><i class="ti-close"></i></a>
  <div class="off-canvas-wrap">
    <div class="welcome-text off-canvas-margin-padding">
      <p>Default Welcome Msg!</p>
    </div>
    <div class="mobile-menu-wrap off-canvas-margin-padding-2">
      <div id="mobile-menu" class="slinky-mobile-menu text-left">
        <ul>
          <li>
            <a routerLink="/">HOME</a></li>
          <li>
            <a routerLink="/shop">SHOP</a>
          </li>
          <li>
            <a routerLink="/about-us">ABOUT US</a>
          </li>
          <li>
            <a routerLink="/contact-us">CONTACT US</a>
          </li>
          <li>
            <a routerLink="/contact-us">Mon Espace Admin</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="language-currency-wrap language-currency-wrap-modify">
      <div class="currency-wrap border-style">
        <a class="currency-active" href="#">$ Dollar (US) <i class="ti-angle-down"></i></a>
        <div class="currency-dropdown">
          <ul>
            <li><a href="#">Taka (BDT)</a></li>
            <li><a href="#">Riyal (SAR)</a></li>
            <li><a href="#">Rupee (INR)</a></li>
          </ul>
        </div>
      </div>
      <div class="language-wrap">
        <a class="language-active" href="#"><img src="https://htmldemo.net/urdan/urdan/assets/images/icon-img/flag.png" alt=""> English <i class="ti-angle-down"></i></a>
        <div class="language-dropdown">
          <ul>
            <li><a href="#"><img src="https://htmldemo.net/urdan/urdan/assets/images/icon-img/flag.png" alt="">English</a></li>
            <li><a href="#"><img src="https://htmldemo.net/urdan/urdan/assets/images/icon-img/spanish.png" alt="">Spanish</a></li>
            <li><a href="#"><img src="https://htmldemo.net/urdan/urdan/assets/images/icon-img/arabic.png" alt="">Arabic</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
