<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
  <div class="container">
      <div class="breadcrumb-content text-center">
          <h2 data-aos="fade-up" data-aos-delay="200">Order Détails</h2>
          <ul data-aos="fade-up" data-aos-delay="400">
              <li><a routerLink="/orders">All Orders</a></li>
              <li><i class="ti-angle-right"></i></li>
              <li>Détails</li>
          </ul>
      </div>
  </div>
  <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
      <img src="https://htmldemo.net/urdan/urdan/assets/images/banner/breadcrumb-1.png" alt="">
  </div>
  <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
      <img src="https://htmldemo.net/urdan/urdan/assets/images/banner/breadcrumb-2.png" alt="">
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="container mt-5 pb-100">
      <div class="d-flex justify-content-between">
        <div class="card-title">
          <div class="d-flex">
            <h2>Order Détails</h2>
            <span class="text-muted align-self-center ms-2">(4) <span class="badge bg-warning ms-2">pending</span></span>
          </div>


        </div>
        <h4 class="text-muted text-muted align-self-center"> <a routerLink="/orders"><i class="fa fa-arrow-left me-2 "></i></a> N° 123
        </h4>
      </div>



      <div class="cart-table-content mt-3">
        <div class="table-content table-responsive">
          <table>
            <thead>
              <tr>
                <th class="width-thumbnail"></th>
                <th class="width-thumbnail">Product</th>
                <th class="width-thumbnail">Stock</th>
                <th class="width-price">Price</th>
                <th class="width-quantity">Quantity</th>
                <th class="width-subtotal">Subtotal</th>
                <th class="width-remove"></th>
              </tr>
            </thead>

            <tbody>
              <tr >
                <td class="product-thumbnail">
                  <a >
                    <a>
                      <img src="https://custom-folder.monmiroirdigital.com/storage/app/public/products/IoRXROWeY8TbpIT8uaUdENBBtrFMefa2ydvJmME8.png" alt="" />
                    </a>
                  </a>
                </td>
                <td class="product-name">
                  <h5>
                    <a >Easy Modern Chair</a>
                  </h5>
                </td>
                <td>
                  <span class="badge bg-success">
                    disponible
                  </span>
                </td>
                <td class="product-cart-price">
                  <span class="amount">250 MAD</span>
                </td>
                <td class="cart-quality">
                 <span >5</span>
                </td>
                <td class="product-total"><span>250 MAD</span></td>
                <td>
                  <a class="me-2 text-secondary"
                  ><i class="fa fa-pencil-square-o fs-5"></i
                ></a>
                </td>
              </tr>
              <tr >
                <td class="product-thumbnail">
                  <a >
                    <a>
                      <img src="https://custom-folder.monmiroirdigital.com/storage/app/public/products/IoRXROWeY8TbpIT8uaUdENBBtrFMefa2ydvJmME8.png" alt="" />
                    </a>
                  </a>
                </td>
                <td class="product-name">
                  <h5>
                    <a >Easy Modern Chair</a>
                  </h5>
                </td>
                <td>
                  <span class="badge bg-success">
                    disponible
                  </span>
                </td>
                <td class="product-cart-price">
                  <span class="amount">250 MAD</span>
                </td>
                <td class="cart-quality">
                 <span >5</span>
                </td>
                <td class="product-total"><span>250 MAD</span></td>
                <td>
                  <a class="me-2 text-secondary"
                  ><i class="fa fa-pencil-square-o fs-5"></i
                ></a>
                </td>
              </tr>
              <tr >
                <td class="product-thumbnail">
                  <a >
                    <a>
                      <img src="https://custom-folder.monmiroirdigital.com/storage/app/public/products/IoRXROWeY8TbpIT8uaUdENBBtrFMefa2ydvJmME8.png" alt="" />
                    </a>
                  </a>
                </td>
                <td class="product-name">
                  <h5>
                    <a >Easy Modern Chair</a>
                  </h5>
                </td>
                <td>
                  <span class="badge bg-success">
                    disponible
                  </span>
                </td>
                <td class="product-cart-price">
                  <span class="amount">250 MAD</span>
                </td>
                <td class="cart-quality">
                 <span >5</span>
                </td>
                <td class="product-total"><span>250 MAD</span></td>
                <td>
                  <a class="me-2 text-secondary"
                  ><i class="fa fa-pencil-square-o fs-5"></i
                ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-lg-12 col-md-6 col-12">
          <div class="cart-calculate-discount-wrap mb-40">
            <h4>Custommer Détails</h4>
          </div>

          <div class="row ">
            <div class="col-8">
              <div class="card">
                <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td class="fw-bold p-3 align-middle">Nom:</td>
                      <td class="p-3 align-middle">Ezzanega</td>
                      <td class="fw-bold p-3 align-middle">Prénom:</td>
                      <td class="p-3 align-middle">Bouchra</td>
                    </tr>
                    <tr>
                      <td class="fw-bold p-3 align-middle">Email:</td>
                      <td class="p-3  align-middle">ezzanegabouchra@gmail.com</td>
                      <td class="fw-bold p-3  align-middle">Téléphone:</td>
                      <td class="p-3  align-middle">+212 6 42 73 64 34</td>
                    </tr>
                    <tr>
                      <td class="fw-bold p-3  align-middle">Pays:</td>
                      <td class="p-3  align-middle">Morocco</td>
                      <td class="fw-bold p-3  align-middle">Ville:</td>
                      <td class="p-3  align-middle">Rabat , 10000</td>
                    </tr>
                    <tr>
                      <td class="fw-bold p-3  align-middle">Adresse:</td>
                      <td colspan="3" class="p-3  align-middle">Avenue Mohammed 5 Rue Jeddah Lorem ipsum dolor sit amet.</td>
                    </tr>
                    <tr>
                      <td class="fw-bold p-3  align-middle">Note:</td>
                      <td colspan="3" class="p-3  align-middle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, perferendis?</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <div class="grand-total-wrap">
                <div class="grand-total-content">
                  <h3>Subtotal <span>200 MAD</span></h3>
                  <div class="grand-shipping">
                    <div class="d-flex justify-content-between mb-2">
                      <span class="w-px-100">Coupon:</span>
                      <span class="text-heading mb-0">--</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <span class="w-px-100">Discount:</span>
                      <span class="text-heading mb-0">0 MAD</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <span class="w-px-100">Tax:</span>
                      <span class="text-heading">0 MAD</span>
                    </div>
                  </div>
                  <div class="grand-total">
                    <h4>Total <span>200 MAD</span></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>


    </div>
  </div>
</div>




