
 <div class="d-flex justify-content-center ">
      <div class="card  text-center mt-5">
      <!-- <div class="d-flex justify-content-center">
        <img src="../../../assets/images/illustration/ecomm-04.png" alt="">
      </div> -->

      <div class="d-flex justify-content-center" style="border-radius:200px; height:200px; width:200px; background: #f0f8e5a6; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h4 class="mt-2 ">Thank you for your order !</h4>
        <p class="text-muted mt-3">We received your purchase request;<br/> we'll be in touch shortly!</p>


        <a class="btn mt-4 text-white btn-continue"routerLink="/shop"><span>Continue shopping</span> </a>
      </div>
 </div>
