button{
  border-radius: 0.5rem !important;
}
button svg {
  height: 24px;
  width: auto;
}


.card{
  border: none;
}

.loader{
	height: 5px;
	position: absolute;
	/* top: 100px; */
	z-index: 1;
	left: 50%;
	transform: translate(-50%);
}

.loader1{
	width: 100%;
	background: #34a853;
	z-index: 1;
	animation: one 2s ease-out infinite;
}

.loader2{
	width: 0%;
	background: #4285f4;
	z-index: 2;
	animation: two 2s ease-out infinite;
}

.loader3{
	width: 0%;
	z-index: 3;
	background: #fbbc05;
	animation: three 2s ease-out infinite;
}

.loader4{
	width: 0%;
	z-index: 4;
	background: #ea4335;
	animation: four 2s ease-out infinite;
}

@keyframes two{
	0%,75%,100%{
		width: 0%;
	}
	25%,50%{
		width: 100%;
	}
}

@keyframes three{
	0%,25%,100%{
		width: 0%;
	}
	50%,75%{
		width: 100%
	}
}

@keyframes four{
	0%,50%{
		width: 0%;
	}
	75%,100%{
		width: 100%;
	}
}

@keyframes one{
	0%,25%{
		z-index: 1;
		width: 100%;
	}
	50%,74%{
		z-index: 1;
		width: 0%;
	}
	75%{
		z-index: 100;
	}
	100%{
		width: 100%;
		z-index: 100;
	}
}






.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  width: 100%;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}
