<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <h2 data-aos="fade-up" data-aos-delay="200">Checkout</h2>
      <ul data-aos="fade-up" data-aos-delay="400">
        <li><a href="index.html">Cart</a></li>
        <li><i class="ti-angle-right"></i></li>
        <li>Checkout</li>
      </ul>
    </div>
  </div>
  <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
    <img
      src="https://htmldemo.net/urdan/urdan/assets/images/banner/breadcrumb-1.png"
      alt=""
    />
  </div>
  <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
    <img
      src="https://htmldemo.net/urdan/urdan/assets/images/banner/breadcrumb-2.png"
      alt=""
    />
  </div>
</div>


<div class="checkout-main-area pb-100 pt-100">
  <div class="container">
    <div class="checkout-wrap pt-30">
      <div class="row">
        <div class="col-lg-7">
          <div class="billing-info-wrap">
            <h3>Billing Details</h3>
            <div class="row">
              <!-- Billing form inputs -->
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>First Name<abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderData.billing.first_name" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>Last Name<abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderData.billing.last_name" required />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-info mb-20">
                  <label>Country<abbr class="required" title="required">*</abbr></label>
                  <input type="text" value="Morocco" readonly [(ngModel)]="orderData.billing.country" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="billing-select select-style mb-20">
                  <label>Ville<abbr class="required" title="required">*</abbr></label>
                  <ng-select
                    [items]="villes"
                    bindLabel="name"
                    bindValue="name"
                    [(ngModel)]="orderData.billing.city"
                    name="city"
                    required>
                  </ng-select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="billing-info mb-20">
                  <label>Street Address<abbr class="required" title="required">*</abbr></label>
                  <input class="billing-address" placeholder="House number and street name" type="text" [(ngModel)]="orderData.billing.address" required />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label>Postcode / ZIP<abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderData.billing.postcode" required />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label>Phone<abbr class="required" title="required">*</abbr></label>
                  <input type="text" [(ngModel)]="orderData.billing.phone" required />
                </div>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="billing-info mb-20">
                  <label>Email Address<abbr class="required" title="required">*</abbr></label>
                  <input type="email" [(ngModel)]="orderData.billing.email" required />
                </div>
              </div>
            </div>
            <div class="additional-info-wrap">
              <label>Order notes</label>
              <textarea placeholder="Notes about your order, e.g. special notes for delivery." [(ngModel)]="orderData.note" name="note"></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="your-order-area">
            <h3>Your order</h3>
            <div class="your-order-wrap gray-bg-4">
              <div class="your-order-info-wrap">
                <div class="your-order-info">
                  <ul>
                    <li>Product <span>Total</span></li>
                  </ul>
                </div>
                <div class="your-order-middle">
                  <ul>
                    <li *ngFor="let item of orderData.items">
                      {{ item.product_nom }} X {{ item.quantity }} <span>{{ item.price * item.quantity }} MAD</span>
                    </li>
                  </ul>
                </div>
                <div class="your-order-info order-subtotal">
                  <ul>
                    <li>Subtotal <span>{{ orderData.total_amount }} MAD</span></li>
                  </ul>
                </div>
                <div class="your-order-info order-shipping">
                  <ul>
                    <li>
                      Shipping
                      <p>Enter your full address</p>
                    </li>
                  </ul>
                </div>
                <div class="your-order-info order-total">
                  <ul>
                    <li>Total <span>{{ orderData.total_amount }} MAD</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="Place-order btn-hover">
              <a (click)="placeOrder()">Place Order</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

