.bg-danger{
  background-color: rgb( 255,231,242 );
  color: rgb( 179,9,60 );
}


.bg-success-light {
  background-color: rgb( 215,247,194 );
  color: rgb( 0,105,8 );
}


.card-count
{
  border: 1px solid rgb(38, 38, 38) ;
  cursor: pointer;
}
.custom-card.selected
{
  border: 1px solid #e97730 !important;
  color: #e97730 !important;
}


.bg-warning-light {
  background-color: #fff2d6 !important;
  color: #ffab00 !important;
}


.bg-danger-light {
  background-color: #e6533c1a;
  color: #e6533c;
}





.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.cancele-item:hover{
  background-color: #dc3545;
  color: aliceblue;
  border-radius: 2px;
}
