<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
  <div class="container">
      <div class="breadcrumb-content text-center">
          <h2 data-aos="fade-up" data-aos-delay="200">Add Product</h2>
          <ul data-aos="fade-up" data-aos-delay="400">
              <li><a routerLink="/all-products">All Product</a></li>
              <li><i class="ti-angle-right"></i></li>
              <li>New Products</li>
          </ul>
      </div>
  </div>
  <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
      <img src="https://htmldemo.net/urdan/urdan/assets/images/banner/breadcrumb-1.png" alt="">
  </div>
  <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
      <img src="https://htmldemo.net/urdan/urdan/assets/images/banner/breadcrumb-2.png" alt="">
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="container mt-5 pb-100">
      <div class="card-title">
        <h2>Add New Product</h2>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">Error creating product : {{ errorMessage }}</div>
      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <div class="row">
          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="nom">Name <span class="text-danger fw-bold">*</span></label>
              <input type="text" id="nom" class="form-control" name="nom" [(ngModel)]="product.nom" required maxlength="255">
              <div *ngIf="productForm.submitted && productForm.controls.nom?.errors" class="text-danger">
                <div *ngIf="productForm.controls.nom.errors?.required">Name is required</div>
                <div *ngIf="productForm.controls.nom.errors?.maxlength">Name cannot exceed 255 characters</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="sku">SKU <span class="text-danger fw-bold">*</span></label>
              <input type="text" id="sku" class="form-control" name="sku" [(ngModel)]="product.sku" required maxlength="255">
              <div *ngIf="productForm.submitted && productForm.controls.sku?.errors" class="text-danger">
                <div *ngIf="productForm.controls.sku.errors?.required">SKU is required</div>
                <div *ngIf="productForm.controls.sku.errors?.maxlength">SKU cannot exceed 255 characters</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="old_price">Old Price</label>
              <input type="text" id="old_price" class="form-control" name="old_price" [(ngModel)]="product.old_price" pattern="^[0-9]*$">
              <div *ngIf="productForm.submitted && productForm.controls.old_price?.errors" class="text-danger">
                <div *ngIf="productForm.controls.old_price.errors?.pattern">Old Price must be a valid number</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="prix">Price <span class="text-danger fw-bold">*</span></label>
              <input type="text" id="prix" class="form-control" name="prix" [(ngModel)]="product.prix" required pattern="^[0-9]*$">
              <div *ngIf="productForm.submitted && productForm.controls.prix?.errors" class="text-danger">
                <div *ngIf="productForm.controls.prix.errors?.required">Price is required</div>
                <div *ngIf="productForm.controls.prix.errors?.pattern">Price must be a valid number</div>
              </div>
            </div>
          </div>





          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="categorie_id">Category <span class="text-danger fw-bold">*</span></label>
              <ng-select [items]="categories"
                         bindLabel="name"
                         bindValue="id"
                         [(ngModel)]="product.categorie_id"
                         name="categorie_id"
                         required>
              </ng-select>
              <div *ngIf="productForm.submitted && productForm.controls.categorie_id?.errors" class="text-danger">
                <div *ngIf="productForm.controls.categorie_id.errors?.required">Category is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="tag_id">Tag <span class="text-danger fw-bold">*</span></label>
              <ng-select [items]="tags"
                         bindLabel="name"
                         bindValue="id"
                         [(ngModel)]="product.tag_id"
                         name="tag_id"
                         required>
              </ng-select>
              <div *ngIf="productForm.submitted && productForm.controls.tag_id?.errors" class="text-danger">
                <div *ngIf="productForm.controls.tag_id.errors?.required">Tag is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="color">Color</label>
              <input type="text" id="color" class="form-control" name="color" [(ngModel)]="product.color" maxlength="255">
              <div *ngIf="productForm.submitted && productForm.controls.color?.errors" class="text-danger">
                <div *ngIf="productForm.controls.color.errors?.maxlength">Color cannot exceed 255 characters</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="image_initiale">Initial Image <span class="text-danger fw-bold">*</span></label>
              <input type="file" id="image_initiale" class="form-control" (change)="onFileChange($event, 'image_initiale')" name="image_initiale" required>
              <div *ngIf="productForm.submitted && productForm.controls.image_initiale?.errors" class="text-danger">
                <div *ngIf="productForm.controls.image_initiale.errors?.required">Initial Image is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="description">Description <span class="text-danger fw-bold">*</span></label>
              <textarea id="description" class="form-control" name="description" [(ngModel)]="product.description" required></textarea>
              <div *ngIf="productForm.submitted && productForm.controls.description?.errors" class="text-danger">
                <div *ngIf="productForm.controls.description.errors?.required">Description is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-6 mt-3">
            <div class="form-group">
              <label for="images">Additional Images </label>
              <input type="file" class="form-control" name="images"  (change)="onFileChange($event, 'images')" multiple>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-dark">Add Product</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
